# ================================================================================
# Frontend
# ================================================================================
# NOTE: Any values like: `VITE_*` is compiled into the browser bundle and will be
#       made public (so **do not add private keys like that**).

# Relative route served through the Vite development proxy or deployed nginx proxy
VITE_API_URL = "/api"
