# Auto detect text files and perform LF normalization
* text=auto

# Hide lock files from stats and diffs
frontend/package-lock.json linguist-generated=true
frontend/package-lock.json -diff

# Hide package.json from stats, but keep diffs visible
frontend/package.json linguist-generated=true

# Hide Django DB migrations
**/migrations/*.py linguist-generated=true
**/migrations/*.py -diff

# Hide JSON
backend/chat_app/management/commands/seed_demo_examples.json linguist-generated=True
backend/chat_app/management/commands/seed_demo_examples.json -diff
