# ================================================================================
# Backend
# ================================================================================
# Postgres DB
POSTGRES_DB            = 
POSTGRES_USER          = 
POSTGRES_PASSWORD      = 

# Vector DB
VECTOR_DB_NAME         = 
VECTOR_DB_USER         = 
VECTOR_DB_PASSWORD     = 

# Other Django config
DJANGO_SETTINGS_MODULE = "backend.settings"
TZ                     = "UTC"

# Google Speech
GOOGLE_APPLICATION_CREDENTIALS =  # Need to get an API key and put it in /backend
GOOGLE_API_KEY                 = 
PEXELS_KEY                     = 0

# Image API
PEXELS_KEY = 

# For development (localhost)
DEV_APP_ROUTE = "http://localhost:8000" #  "" Nothing for deployment mode

# --------------------------------------------------------------------------------
# Llama API
# --------------------------------------------------------------------------------
# Local vs. cloud environment; local uses dummy_LLM, cloud uses GPU instance
APP_ENVIRONMENT  = "local"

# Access to the external GPU VM instance
LLM_BASE_URL      =
LLM_GATEWAY_TOKEN =
